*{
    margin: 0;
    max-width: 222220px;
    width: 100%;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

.wrapper{
    min-width: 1440px;
}

body{
    background-color: #232122;
    overflow-x: hidden;

}

.userfront-toolkit{
    align-items: center;
}

.catalog_nav{
    width: 1520px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calatog_search_ul{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.catalog_search{
    width: 100%;
    height: 40px;
    background-color: #232122;
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.catalog_search button{
    margin-right: 40px;
}

.main_firstSlide{
    margin-top: 60px;
    height: 663px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;




}

.main_firstSlide h1{
    margin-top: 110px;
    margin-left: 50px;
    font-family: 'Rubik Maps', system-ui;
    font-size: 38px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    color: white;

}
.main_firstSlide span{
    font-family: 'Rubik Maps', system-ui;
    font-size: 42px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    color: white;

}

.leftSide_slide{
    height: 663px;
    width: 880px;
    
}

.rightSide_slide{
    height: 663px;
    width: 636px;
    min-width: 400px;
    min-height: 400px;
    
}

.leftSide_text{
    margin-top: 30px;
    margin-left: 7vh;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    width: 400px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 80px;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.buttonAboutCompany{
    display: flex;
    margin-top: 30px;
    height: 50px;
    width: 300px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    border: 1px solid #B31217;
    cursor: pointer;
    border-radius: 43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.main_secondSlide{
    height: 900px;
    display: flex;
    justify-content: space-between;
}

.leftSideSecond_slide{
    height: 663px;
    width: 810px;

}

.naming{
    font-family: 'Rubik Maps', system-ui;
    color: #E52D27;
    margin-left: 50px;
    font-size: 38px;

}

.secondSlide_text{
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 42px;
    font-family: 'Rubik Maps', system-ui;

}

.rightSideSecond_Slide{
    height: 663px;
    min-width: 400px;
    max-height: 700px;
    max-width: 700px;
}

.secondSlide_redTxt{
    color: white;
    height: 40px;
    border: 1px solid #E52D27;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width:fit-content;
    margin: 10px;
    font-family: 'Inter';
}

.fieldOfRedText{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;

}

.logo{
    transition: 2s;
    margin-left: 30px;
    max-width: 180px;
}

.logo:hover{
    transform: scale(1.1);
}

.thirdSlide{
    height: 698px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../public/wallpaper4.png");
}

.thirdSlide_leftSide{
    justify-content:left;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 42px;
    font-family: 'Rubik Maps', system-ui;
    padding-top: 30px;
    color: white;
    margin-left: 50px;
}


.btnFix{
    position:relative;
    z-index: 500;
    margin-left: "50px"
}

.imgSmoothTransition{
    position: absolute;
    left: 0px;
    top: 1522px;
    z-index: 200;
}

.imgSmoothTransition2{
    position: absolute;
    z-index: 200;
    left: 0;
    top: 2150px;
}

.thirdSlide_descriptionText{
    width: 736px;
    height: 240px;
    display: flex;
    margin-left: 50px;
    z-index: 400;
    flex-wrap:wrap;
    margin-top: 60px;
}

.thirdSlide_descriptionBlock{
    width: 250px;
    height: 115px;
    font-size: 20px;
    z-index: 400;
}

.thirdSlide_descriptionDecoration{
    height: 19px;
    width: 19px;
}

.hideForBody{
    overflow-y: hidden;
}


.profilePage_Wrapper{
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    max-height:min-content;
    background-color: #0E0E0E;
}

.profilePage_leftPanel{
    position: inherit;
    margin-top: 65px;
    width: 380px;
    min-width: 380px;
    border-radius: 20px ;
    background-color: #232122;
    height: 475px;
    color: #FFFFFFB2;
}

.profilePage_leftPanel p{
    margin: 25px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.profilePage_leftPanel p:hover{
    color: #E52D27;
    transition: 0.4s;
}

.profilePage_cells{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: white;
    margin-right: -20px;
    margin-top: 65px;
    margin-left: 15px;
    width: 875px;
    min-width: 875px;
    height: 600px;
}

.profilePage_cells h1{
    margin-left: 10px;
}

.profilePage_cell_upper_default{
    background-color: white;
    width: 414px;
    height: 194px;
    margin-right: 22px;
    background-color: #232122;
    border-radius: 20px;
    margin-top: -95px;
}

.profilePage_cell_upper_default p{
    margin: 20px;
}

.profilePage_cell_lower_default p{
    margin: 20px;
}

.profilePage_cell_upper_default h2{
    margin-left: 17px;
    margin-top: 2px;
}

.profilePage_cell_upper_default a{
    position:relative;
    right: -300px;
    color: #3F75FF;
    top: 15px;
}

.profilePage_cell_lower_default h2{
    margin-left: 17px;
    margin-top: 2px;
}

.profilePage_cell_lower_default a{
    position:relative;
    right: -300px;
    color: #3F75FF;
    top: 15px;
}

.profilePage_cell_lower_default{
    background-color: white;
    width: 414px;
    height: 194px;
    margin-right: 22px;
    background-color: #232122;
    border-radius: 20px;
    margin-top: -107px;
}

.personalData_cell{
    display: flex;
}

.profilePage_cell_upper_active{
    width: 414px;
    height: 336px;
    background-color: #232122;
    border-radius: 20px;
    margin-right: 22px;
    margin-top: 25px;
}

.profilePage_cell_upper_active h2{
    margin: 15px;
}

.profilePage_cell_lower_active h2{
    margin: 15px;
}

.profilePage_cell_lower_active{
    width: 414px;
    height: 212px;
    background-color: #232122;
    border-radius: 20px;
    margin-right: 22px;
    margin-top: 15px;

}

.input_box_lastName{
    position: relative;
}

.input_box_lastName input{
    background-color: #232122;
    padding: 10px;
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    border-radius: 11px;
    border: 1px solid white;
    width: 200px;
}

.input_box_lastName label{
    position: absolute;
    color: #FFFFFFB2;
    margin-left: 30px;
    top: 4px;
    width: 67px;
    background-color: #232122;
    padding: 0 5px;
}

.input_box_firstName{
    margin-left: 15px;
}

.input_box_firstName input{
    background-color: #232122;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 11px;
    width: 200px;
    color: white;
}

.input_box_firstName label{
    position: absolute;
    margin-left: 19px;
    margin-top: 20px;
    color: #FFFFFFB2;
    width: 38px;
    background-color: #232122;
    padding: 0 5px;
}

.input_box_thirdName{
    margin-left: 15px;
}

.input_box_thirdName input{
    background-color: #232122;
    padding: 10px;
    margin-top: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 11px;
    width: 200px;
}

.input_box_thirdName label{
    position: absolute;
    margin-left: 19px;
    color: #FFFFFFB2;
    margin-top: 20px;

    width: 74px;
    background-color: #232122;
    padding: 0 5px;
}

.profilePage_cell_upper_active button{
    width: 171px;
    height: 38px;
    color: white;
    border-radius: 34px;
    border: 1px solid #E52D27;
    margin-left: 15px;
    margin-top: 20px;
    background-color: #E52D27;
    cursor: pointer;
}

.profilePage_cell_upper_active a{
    color: #FFFFFFB2;
}

.second_cell_password{
    margin-left: -25px
}

.second_cell_password input{
    position: relative;
    left: 40px;
    background-color: #232122;
    padding: 10px;
    margin-top: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 11px;
    width: 200px;
}

.second_cell_password label{
    position: absolute;
    margin-top: 20px;
    color: #FFFFFFB2;
    background-color: #232122;
    padding: 0 5px;
    z-index: 1000;
    margin-left: 50px;
}

.profilePage_cell_lower_active button{
    width: 171px;
    height: 38px;
    color: white;
    border-radius: 34px;
    border: 1px solid #E52D27;
    margin-left: 15px;
    margin-top: 20px;
    background-color: #E52D27;
    cursor: pointer;

}

.profilePage_cell_lower_active input{
    position: relative;
    left: 40px;
    background-color: #232122;
    padding: 10px;
    margin-top: 30px;
    margin-left: -25px;
    color: white;
    border: 1px solid white;
    border-radius: 11px;
    width: 200px;
}

.profilePage_cell_lower_active label{
    position: absolute;
    margin-top: 17px;
    color: #FFFFFFB2;
    background-color: #232122;
    padding: 0 5px;
    z-index: 1000;
    margin-left: 25px;
    width: 56px;
}

.profilePage_cell_lower_active a{
    color: #FFFFFFB2;
}
.profileDelivery_Wrapper {
    width: fit-content;
}

.profileDelivery_Wrapper     h1{
    color: white;
    margin-top: 63px;
    margin-left: 20px;
    margin-bottom: 8px;

}

.profileDelivery_addressList{
    background-color: #232122;
    height: 430px;
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    margin-left: 20px;
}

.profileDelivery_addressList h1{
    color: white;
}

.profileDelivery_addressList img{
    width: 61px;
    height: 61px;
}

.profileDelivery_addressList p{
    width: 290px;
    color: white;
    margin-top: 15px;
}

.profileDelivery_addressList button{
    margin-top: 20px;
    width: 220px;
    height: 38px;
    background-color: #E52D27;
    border: 1px solid #E52D27;
    border-radius: 34px;
    color: white;
    cursor: pointer;
}

.profileDelivery_addressList_textNbutton{
    display: grid;
    justify-content: center;
    justify-items: center;
  
}

.profilePage_Orders{
    width: 850px;
    height: 430px;
    background-color: #232122;
}

.profilePageOrders_Wrapper{
    color: white;
    width: fit-content;
}

.profilePageOrders_Wrapper h1{
    margin-top: 63px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.profilePage_Orders{
    margin-left: 20px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    
}


.profilePage_Orders img{
    width: 61px;
    margin-left: auto;
    margin-right: auto;
    height: 61px;
    margin-bottom: 17px;
}

.profileCompany_ModalHalf input{
    width: 338px;
}

.profileCompany_ModalHalf{
    display: flex;
    width: 730px;
    flex-wrap: nowrap;
}

.profileCompany_ModalThird input{
    width: 219px;
    margin: 5px;
}

.profileCompany_ModalThird{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}

.fullWidthInput{
    width: 713px;
}

.profileCompany_Modal label{
    margin-bottom: -15px;
}


.profileCompany_Modal{
    box-sizing: border-box;
      overflow: hidden;
    display: grid;
    flex-wrap: wrap;
    width: 777px;
    border: 1px solid #E52D27;
    height: 700px;
    position: absolute;
    background-color: #232122;
    right: auto;
    color: white;
    padding: 30px;
    left: 50%;
    margin-left: -388px;
    margin-top: 15px;
    border-radius: 20px;
    z-index: 1000;
}

.profileCompany_Modal input{
    height: 47px;
    color: white;
    padding-left: 10px;
    background-color: #232122;
    border-radius: 5px;
    border: 1px solid #FFFFFF99;
}

.profileCompany_Modal button{
    width: 217px;
    height: 38px;
    border-radius: 34px;
    background-color: #E52D27;
    border: 1px solid #E52D27;
    color: white;
}

.fullwidthBGC{
    position: absolute;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #121212B2;
}

.cartPage_wrapper{
    width: 100%;
    height:fit-content;
    padding-bottom: 40px;
    display: grid;
    padding-top: 13vh;
    justify-content: center;
    color: white;
    background-color: #0E0E0E;
}

.nameCart hr{
    margin-top: 20px;
    color: #ffffff77;
    width: 101%;
}

.cartDetails p{
    background-color: #232122;
    position: inherit;
}

.cartDetails{
    width: 420px;
    height: 310px;
    text-align: center;
    border-radius: 15px;
    display: grid;
    margin-left: 7vh;
    text-align: start;
    padding: 15px;
    background-color: #232122;
}

.cartItem{
    background-color: #232122;
    width: 880px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 15px;
    flex-wrap: nowrap;
    align-items: center;

}

.cartItem div{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    border: 1px solid #E52D27;
    height: 47px;
    font-size: large;
    border-radius: 5px;
    min-width: 130px;
    width: 145px;
    align-items: center;
}

.cartItem button{
    background-color: #232122;
    border: 1px solid #232122;
    color: white;
    height: 90%;
    cursor: pointer;
}

.cartList{
    min-width: 900px;
    width: 910px;
    max-width: 950px;
    max-height: 600px;
    min-height: 300px;
    overflow-y: auto;
}

.cartItem img{
    margin-left: 20px;
    width: 75px;
    height: 75px;
}

.cartNaming{
    margin-left: 20px;
    margin-right: 20px;
    width: 270px;
    min-width: 240px;
}


.cartNaming p{
    width: 10px;
    max-width: 40px;
}

.cartBottomSide{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    margin-top: 30px;
    padding-right: 13px;
}

.cartPrice{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-left: 40px;
/* identical to box height */

color: #FFFFFF;


}

.cartDetails button{
    position: relative;
    bottom: 0px;
    width: 420px;
    height: 38px;
    background-color: #E52D27;
    border: 1px solid #E52D27;
    border-radius: 34px;
    color: white;
    cursor: pointer;
}

.cartDetails div hr{
    width: 70%;
	padding: 0;
	height: 0;
    margin-left: 61px;
	border: none;
	border-top: 2px dashed #ddd;
	background: #232323;
    margin-top: -5px;

}

.orderDetailsCounters{
    position:"relative";
    right: 0;
    width: min-content;
    margin-left: 5px;
}

.orderDetailsAll{
    display: flex;
    flex-wrap: nowrap;
}

.orderDetailsAll p, b {
    width: 58px;
}

.dottedLine{
    width: 70%;
    height: 20px;
    margin-top: -7px;
    border-bottom:3px dotted white;

}

.PlacingOrder_wrapper{
    padding: 4%;
    min-width: 1283px;
    height: fit-content;
    width: 92%;
    background: rgba(14, 14, 14, 1);
    color: white;
}

.PlacingOrder_wrapper h1{
    margin-bottom: 15px;
    font-family: 'Rubik Maps', system-ui;

}

.PlacingOrder_wrapper hr{
    color: #FFFFFF80;
    background-color: #FFFFFF80;
    background: #FFFFFF80;
}

.placingOrder_mainBlock{
    display: flex;
    flex-wrap: wrap;
    width: 532px;
    height: 220px;
}

.placingOrder_mainBlock h3{
    margin-top: 30px;
    margin-bottom: 5px;
}

.placingOrder_deliveryType{

    width: 252px;
    height: 102px;
    cursor: pointer;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;

}

.placingOrder_deliveryType img{
    z-index: -1000;
    width: 24px;
    height: 23px;
    position: relative;
}

.fullheight{
    height: 220px;
    
}

.placingOrder_deliveryType h5{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 172px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px;
}

.placingOrder_upperCards{
    width: 1000px;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.placingOrder_rowingCards{
    width: 798px;
    display: flex;
    margin-top: 12px;
    flex-wrap: nowrap;
}

.placingOrder_deliveryType p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);  
    padding-left: 15px;
}

.PlacingOrder_wrapper h3{
    margin-top: 30px;
}

.PlacingOrdersPayment{
    width: 796px;
    display: flex;
    flex-wrap: wrap;
}
.PlacingOrdersPayment div{
    width: 386px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    height: 102px;
    margin-top: 10px;
    border-radius: 5px;
}

.PlacingOrdersPayment h4{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);  
    padding-left: 15px;
}

.activeDeliveryCard{
    border: 1px solid rgb(148, 0, 0);

}

.activeDeliveryCard img{
    z-index: 2000;
}

.PlacingOrdersPlate{
    position: relative;
    width: 486px;
    height: 478px;
    float: right;
    margin-top: -222px;
    padding: 20px;



    background: #232122;
    border-radius: 15px;

}

.PlacingOrdersPlate_topSide img{
    height: 55px;
    width: 55px;
    margin-right: 10px;
    border-radius: 10px;

}

.PlacingOrdersPlate_topSide{
    width: 450px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.PlacingOrdersPlate_text{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PlacingOrdersPlate_text_name{
    width: 185px;
    min-width: 185px;
    max-width: 190px;
}

.PlacingOrdersPlate_text p{
    width: fit-content;
}

.cartList_input{
    /* Rectangle 190 */

    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    width: 555px;
    height: 48px;
    border-radius: 5px;
    background-color: #0E0E0E;
    border: 1px solid #E52D27;
    align-items: center;
    
}

.cartList_input input{
    height: 95%;
    border-radius: 5px;
    background-color: #0E0E0E;
    color: #FFFFFFCC;
    padding-left: 15px;
    border: 1px solid #0E0E0E;

}

.cartList_input img{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.placingOrder_deliveryType_in{
    display: flex;
    flex-wrap: nowrap;
}

.placingOrder_deliveryType_in img{
    margin-top: 12px;
    margin-left: 12px;
}

.activeDeliCard{

    border:1px solid rgb(148, 0, 0);
}

.notActiveDeliCard{
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.goodsPage_wrapper{
    height: 105vh;
    width: 100%;
    padding: 3%;
    color: white;
    width: 94%;
}

.goodsPage_wrapper h1{
    font-family: 'Rubik Maps', system-ui;
}
    
.PlacingOrdersPlate_wrapper hr{
    color: #23232390;
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.PlacingOrdersPlate_wrapper{
    height: 320px;
    max-height: 320px;
    width: 495px;
    max-width: 495px;
    overflow-y:auto;
    overflow-x:hidden;
}


.PlacingOrdersPlate_topSide img{
    margin-bottom: 5px;
}

.personalDataInputs div{
    width: 250px;
    margin-right: 20px;
}

.personalDataInputs input{
    /* Frame 40278 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
    background-color: rgba(14, 14, 14, 1);
    width: 250px;
    height: 39px;
    border: 1px solid rgba(127, 127, 127, 0.489);
    border-radius: 5px;
}

.personalDataInputs{
    display: flex;
    color: #ffffffe4;
    margin-top: 20px;
    color: white;
    flex-wrap: nowrap;
}

.personalDataInputs input{
    color: white;
}

.inputMoreData{
    margin-top: 20px;
    width: 461px;
    color: white;
    height: 130px;
}

.inputMoreData input{
    width: 100%;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.222);
    height: 100%;
    text-align: start;
    padding: 10px;
    resize: none;
    border-radius: 7px;
    background-color: rgba(14, 14, 14, 1);
}

.OrderCompleteButton{
  width: 420px;
  margin-top: 20px;
  margin-left: 30px;
  height: 38px;
  background-color: #E52D27;
  border: 1px solid #E52D27;
  border-radius: 34px;
  color: white;
  cursor: pointer;
}

.goodsPage_itemlist{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    grid-row: auto;
    flex-wrap: wrap;
}

.goodsPage_button{
    cursor: pointer;
}

.goodsPage_item{
    height: 430px;
    width: 330px;
    margin-bottom: 25px;
    border: 1px solid #747474a4;
    border-radius: 10px;
}

.goodsPage_item img{
    border-top-left-radius: 10px;
    width: 329.6px;
    margin-left: 0.2px;
    border-top-right-radius: 10px;
}

.goodsPage_itemText{
    padding: 5%;
    width: 90%;
    height: 150px;
}

.goodsPage_itemText div{
    margin-top: 40px;
}

.goodsPage_item button{
    width: 90%;
    margin-left:5%;
    display: flex;
    color: white;
    border: 1px solid #E52D27;
    flex-direction: row;
    font-size: large;
    justify-content: center;
    align-items: center;
    padding: 7px 32px;
    gap: 10px;
    height: 38px;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    border-radius: 34px;

}